@font-face{
    font-family: Mj_Noor;
    src:url(/fonts/Mj_Noor.ttf) ;
}
@font-face {
    font-family: iran;
    src: url(/fonts/iran.ttf);
}
*{
    direction: rtl;
    font-family: iran;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    margin: 0px;

}
a{
    text-decoration: none;
}
